/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

$color-red1: #F54029;

$color-black1: #000000;

$color-gray1: #888888;
$color-gray2: #CDCDCD;
$color-gray3: #F3F3F3;

$color-white1: #FFFFFF;

$color-green1: #1EBD0C;

$color-purple1: #EF0A66;

$color-blue1: #3EADFF;

$color-yellow1: #FEC007;